*.dll
*.exe
*.pdb
*.cache
*.log
*.vspscc
*.vssscc
*.class
*.com
*.dll.config

bin/
obj/
TestResults/

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

*.log
*.sqlite

.DS_Store
Thumbs.db
ehthumbs.db
Icon?
bower_components/
node_modules/
